{% autoescape "latex" %}
	\begin{tiny}    
						    \begin{landscape}
	{% for class in classes %}
		\clearpage
												        \begin{longtable}{|p{.2\linewidth}|p{.2\linewidth}|p{.5\linewidth}|}						
												            \hline
												            \multicolumn{3}{|p{.9\linewidth}|}{\textbf{Classe:}
		{{ class.type }}
		{{ class.name }}\label{tab:classe-{{ class.nameClear }}}
		{% if class.description %}\newline
			{{ class.description }}
		{% endif %}
		} \\
												            \multicolumn{3}{|l|}{\textbf{Namespace:}
		{{ class.namespace }}} \\\hline
		{% if not class.extends is null %}
			\multicolumn{3}{|l|}{\textbf{Herança de:} \hyperref[tab:classe-{{class.extends.nameClear}}]{
			{{ class.extends.namespace }}$\backslash${{class.extends.name}}
			} } \\\hline
		{% endif %}
		{% if class.implements.count > 0 %}
			\multicolumn{3}{|p{.9\linewidth}|}{\textbf{Implementa:}
			{% for interface in class.implements %}\hyperref[tab:classe-{{interface.nameClear}}]{~{{interface.namespace}}$\backslash${{interface.name}}}{% if not loop.last %},	{% endif %}{% endfor %}
			} \\\hline
		{% endif %}
		{% if class.traits.count > 0 %}
			\multicolumn{3}{|l|}{\textbf{Usa:}
			{% for trait in class.traits %}
				\hyperref[tab:classe-{{trait.nameClear}}]{
				{{trait.name}}
				}
				{% if not loop.last %},
				{% endif %}
			{% endfor %}
			} \\\hline
		{% endif %}
		{% if class.capabilities.count > 0 %}
			\multicolumn{3}{|l|}{\textbf{Capacidades:}
			{{ class.capabilities|join(', ') }}
			} \\\hline
		{% endif %}
		{% for tag in class.tags %}
            {% if not tag.name matches '/^@ORM.+$/' %}            
			    \multicolumn{3}{|l|}{\textbf{@{{tag.name}}} {{tag}}} \\\hline
            {% endif %}
        {% endfor %}
        {% for doc in class.doctrineAnnotations %}
			\multicolumn{3}{|l|}{\textbf{@{{doc.name}}} {{doc.value}}} \\\hline
        {% endfor %}
            {% if class.constants.count > 0 %}            
            \multicolumn{3}{|c|}{\textbf{Constantes}} \\\hline			            
            \textbf{Nome} & \textbf{Tipo} & \textbf{Valor} \\\hline
            {% for constant in class.constants %}
                {{ constant.name }} & {{ constant.type }} & {{ constant.value }} \\\hline
            {% endfor %} 
            {% endif %}    
            {% if class.properties.count > 0 %}                   
            \multicolumn{3}{|c|}{\textbf{Propriedades}} \\\hline
            {% for property in class.properties %}
            {{ property.isStatic ? 'static ' ~ property.name : property.name }}
                                {% if property.description %}                                
                                & \multicolumn{2}{p{.6\linewidth}|}{ {{ property.description }} } \\\cline{2-3}
                                {% endif %} 
                                & \multicolumn{2}{p{.6\linewidth}|}{\textbf{Visibilidade:}  {{property.visibility}} } \\\cline{2-3}
                                & \multicolumn{2}{p{.6\linewidth}|}{\textbf{Tipo:} {{ property.type ? property.type : 'Não definido' }} } \\\cline{2-3}
                                {% if property.defaultValue %}                                
                                & \multicolumn{2}{p{.6\linewidth}|}{\textbf{Valor inicial:} {{property.defaultValue}} } \\\cline{2-3}                                
                                {% endif %}                                
                                {% for tag in property.tags %}
                                {% if tag.name != 'var' and not tag.name matches '/^@ORM.+$/' %}                                                                    
                                & \multicolumn{2}{p{.6\linewidth}|}{\textbf{@{{tag.name}}} {{tag}}} \\\cline{2-3}                                        
                                {% endif %}
                                {% endfor %}
                                {% for doc in property.doctrineAnnotations %}                                
                                & \multicolumn{2}{p{.6\linewidth}|}{\textbf{@{{doc.name}}} {{doc.value}}} \\\cline{2-3}                                                                        
                                {% endfor %}
                                \hline                                
            {% endfor %}
            {% endif %}            
            {% if class.methods %}            
            \multicolumn{3}{|c|}{\textbf{Métodos}} \\\hline
            {% for method in class.methods %}
            {{ method.isStatic ? 'static ' ~ method.name : method.name }}
                            {% if method.description %}                            
                            & \multicolumn{2}{p{.6\linewidth}|}{ {{ method.description }} } \\\cline{2-3}
                            {% endif %} 
                            & \multicolumn{2}{p{.6\linewidth}|}{\textbf{visibilidade:} {{ method.visibility }} } \\\cline{2-3}							
                            & \multicolumn{2}{p{.6\linewidth}|}{\textbf{retorna:} {{ method.returnType ? method.returnType : 'Não definido' }} } \\\cline{2-3}
                            {% for tag in method.tags %}
                            {% if not tag.name in ['param', 'return'] and not tag.name matches '/^@ORM.+$/' %}                                                                    
                            & \multicolumn{2}{p{.6\linewidth}|}{\textbf{@{{tag.name}}} {{tag}}} \\\cline{2-3}                                        
                            {% endif %}
                            {% endfor %}
                            {% for doc in method.doctrineAnnotations %}                            
                            & \multicolumn{2}{p{.6\linewidth}|}{\textbf{@{{doc.name}}} {{doc.value}}} \\\cline{2-3}                                                                    
                            {% endfor %}
                            {% if method.parameters.count > 0 %}                                                        
                            & \multicolumn{2}{c|}{\textbf{Parâmetros}} \\\cline{2-3}
                            {% for param in method.parameters %}                                                            
                            & {{param.name}} &
                                        {% if param.description %}                                        
                                        {{param.description }} \\\cline{3-3} &&
                                        {% endif %} 
                                        \textbf{tipo:} {{param.type ? param.type : 'Não definido' }} 
                                        {% if param.defaultValue %}      
                                        \\\cline{3-3}                                  
                                        && \textbf{valor padrão:} {{param.defaultValue}} \\\cline{2-3}
                                        {% else %}
                                        \\\cline{2-3}
                                        {% endif %}
                            {% endfor %}                            
                            {% endif %}
                            \hline    
            {% endfor %}
            {% endif %}            	            																										
        \end{longtable}	
        {% endfor %}
    \end{landscape}		    
\end{tiny}
{% endautoescape %}
