{% for class in classes %}
{% if class.type != 'class' %}<<{{class.type}}>>{% endif %}    
{{class.namespace}}::{{class.name}}
{% if class.constants.count > 0 %}
--
Constants
{% for constant in class.constants %}
{{constant.name}}: {{constant.type}} = {{constant.value}}
{% endfor %}
{% endif %}
{% if class.properties.count > 0 %}
--
{% for property in class.properties %}
{{ property.visibility == 'privado' ? '-' : property.visibility == 'público' ? '+' : '#' }}{{property.name}}: {{property.type}} {% if property.defaultValue %}= {{ property.defaultValue }}{% endif %}            
{% endfor %}
{% endif %}
{% if class.methods.count > 0 %}
--
{% for method in class.methods %}
{{ method.visibility == 'privado' ? '-' : method.visibility == 'público' ? '+' : '#' }}{{method.name}}({% for param in method.parameters %}{{param.name}}: {{param.type}}{% if param.defaultValue %} = {{param.defaultValue}}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}): {{method.returnType}}
{% endfor %}
{% endif %}    
{% endfor %}